/* styles.css */
body {
    /* Your webpage styles */
}

.lightbox {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Overlay color */
}

.lightbox-content {
    background-color: #f0f7f4; /* Lightbox background color - Soft Green */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Lightbox shadow */
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    color: #555;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

h2 {
    color: #2980b9; /* Blue */
}

p {
    color: #555;
}

.buttons {
    margin-top: 20px;
}

.not-for-now {
    color: #888;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #888;
    border-radius: 5px;
}

.abstract-button {
    color: #fff;
    background-color: #3498db; /* Blue */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nice-button {
    color: #fff;
    background-color: #f39c12; /* Soft Yellow */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
